/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body{
    font-family: 'Varela Round', sans-serif;
}

section{
    padding-left: 24px;
    padding-right: 24px;
}

/* MENU DESPLEGABLE MÓVIL */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
/* @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} */


/* HEADER */

.simbolos{
    background-color: #818181;
    display: flex;
    flex-direction: row;
}

#avion{
    width: 10%;
    margin: 1%;
    position: absolute;
}

#flecha{
    width: 2%;
    position: absolute;
    margin-left: 13%;
    margin-top: 5%;
}

header nav{
    display: none;
}

#portada{
    width: 100%;
}

@media screen and (min-width: 992px){
    #portada{
        height: 757px;
    }
}

header h1{
    position: absolute;
    margin: 0;
    margin-top: 44%;
    color: #ffffff;
}


/* FORMULARIO */

form{
   width: 100%; 
   margin: 0;
   margin: auto;
   margin-top: 20px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}


.fecha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

input, select{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid rgb(224, 147, 137);
    border-radius: 5px;
    outline: 0;
}

label{
    width: 50%;
}

input[type="date"]{
    width: calc(50% - 4px);
    background-color: white;
}

input[type="submit"]{
    border-style: none;
    background-color: rgb(224, 147, 137);
    padding: 2%;
    font-weight: bold;
    color: #ffffff;
}

/* DESCUBRE AIRHOPPING */
#descubre {
    display: flex;
    flex-direction: row;
}

#descubre div{
    width: 30%;
    height: 117px;
    box-shadow: 1px 6px 8px 1px rgba(181,181,181,1);
    border-radius: 11px;
    margin: auto;
}

#descubre img{
    width: 100%;
    border-radius: 11px 11px 0 0;
}

#descubre p{
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

/* IMAGEN GRANDE */
.exception{
    padding: 0;
    margin-top: 10%;
    position: relative;
}

.exception img{
    width: 100%;
    position: absolute;
}

.exception h2, .exception h3, .exception div{
    position: absolute;
    margin: 0;
}

.exception .present{
    top: 2rem;
    left: 34%;
    font-size: 1rem;

}

.exception .historia{
    top: 4.5rem;
    left: 16%;
    font-size: 2rem;
}

.exception h3{
    top: 7.5rem;
    left: 6%;
    font-size: 1.3rem;
}

.exception div{
    width: 41%;
    height: 44px;
    top: 10rem;
    left: 31%;
    background-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exception a{
    text-decoration: none;
    color: white; 
}

