/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body{
    font-family: 'Varela Round', sans-serif;
}

/* MENU DESPLEGABLE MÓVIL Y TABLET */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

@media screen and (min-width: 1020px){
    .overlay{
        display: none;
    }
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(193, 193, 193);
    display: block;
    transition: 0.3s;
}

@media screen and (min-width: 760px){
    .overlay a{
        font-size: 45px;
    }
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* HEADER */
.simbolos{
    background-color: #818181;
    display: flex;
    flex-direction: row;
}

#avion{
    width: 10%;
    margin: 1%;
    position: absolute;
}

@media screen and (min-width: 1020px){
    #avion{
        width: 5%;
    }
}

#flecha{
    width: 2%;
    position: absolute;
    margin-left: 13%;
    margin-top: 5%;
}

@media screen and (min-width: 1020px){
    #flecha{
        display: none;
    }
}

header nav{
    display: none;
}

@media screen and (min-width: 1020px){
    header nav{
        display: block;
        position: absolute;
        top: 4%;
        left: 70%;
    }

    header nav a{
        text-decoration: none;
        color: white;
        padding: 4px;
    }
}

#portada{
    width: 100%;
}

@media screen and (min-width: 760px){
    #portada{
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
}

@media screen and (min-width: 1020px){
    #portada{
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
}

header h1{
    position: absolute;
    margin: 0;
    margin-top: 44%;
    color: #ffffff;
}

@media screen and (min-width: 760px){
    header h1{
        display: none;
    }
}


/* SECTION */
section{
    padding-left: 24px;
    padding-right: 24px;
}


/* FORMULARIO */
@media screen and (min-width: 760px){
    .sectForm{
        position: absolute;
        background-color: white;
        border-radius: 4px;
        width: 50%; 
        margin: 0;
        top: 30%;
        left: 25%;
    }
}

@media screen and (min-width: 1020px){
    .sectForm{
        width: 35%;
        margin: 0;
        top: 20%;
        left: 14%;
    }
}

.sectForm h1{
    display: none;
}

@media screen and (min-width: 760px){
    .sectForm h1{
        display: block;
    }
}

form{
   width: 100%; 
   margin: 0;
   margin: auto;
   margin-top: 20px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

.fecha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

input, select{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid rgb(224, 147, 137);
    border-radius: 5px;
    outline: 0;
    background-color: white;
}

label{
    width: 50%;
}

input[type="date"]{
    width: calc(50% - 4px);
}

input[type="submit"]{
    border-style: none;
    background-color: rgb(224, 147, 137);
    padding: 2%;
    font-weight: bold;
    color: #ffffff;
}

@media screen and (min-width: 760px){
    input[type="submit"]{
        width: 30%;
        margin-left: 70%;
    }
}

/* MENU DESPLAZABLE */
.sectDescubre{
    padding-right: 0;
}

@media screen and (min-width: 760px){
    .sectDescubre{
        margin-top: 3rem;
    }
}

.flex-desp{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 760px){
    .flex-desp{
        flex-wrap: wrap;
        overflow: hidden;
    }
}

.flex-desp::-webkit-scrollbar{
    display: none;
}

.cuadra{
    flex: 0 0 auto;
    width: 50%;
    box-shadow: 1px 6px 8px 1px rgba(181,181,181,1);
    border-radius: 11px;
    margin: 3%;
}

@media screen and (min-width: 760px){
    .cuadra{
        width: 27%;
    }

    .hide{
        display: none;
    }
}

@media screen and (min-width: 1020px){
    .cuadra{
        width: 23%;
        margin: 1%;
    }

    .hide{
        display: block;
    }
}

.cuadra img{
    width: 100%;
    height: 10vh;
    object-fit: cover;
    object-position: center;
    border-radius: 11px 11px 0 0;
}

@media screen and (min-width: 760px){
    .cuadra img{
        height: 15vh;
    }
}

@media screen and (min-width: 1020px){
    .cuadra img{
        height: 20vh;
    }
}

.cuadra p{
    text-align: center;
    font-size: 14px;
}


/* IMAGEN GRANDE */
.exception{
    padding: 0;
    margin-top: 10%;
    background-image: url(../img/arteycultura.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
}

@media screen and (min-width: 760px){
    .exception{
        height: 38vh;
    }
}

@media screen and (min-width: 1020px){
    .exception{
        height: 55vh;
        margin-top: 7%;
        margin-bottom: 7%;
    }
}

.exception img{
    width: 100%;
}

.exception h2, .exception h3, .exception div{
    margin: 0;
}

.exception .present{
    padding-top: 2rem;
    padding-left: 34%;
    font-size: 1rem;
}

@media screen and (min-width: 760px){
    .exception .present{
        padding-top: 4.5rem;
        padding-left: 12%;
    }
}

.exception .historia{
    padding-top: 1.5rem;
    padding-left: 17%;
    font-size: 2rem;
}

@media screen and (min-width: 760px){
    .exception .historia{
        padding-top: 2.5rem;
        padding-left: 12%;
    }
}

.exception h3{
    padding-top: 0.5rem;
    padding-left: 7%;
    font-size: 1.3rem;
}

@media screen and (min-width: 760px){
    .exception h3{
        padding-top: 1rem;
        padding-left: 12%;
    }
}

.exception div{
    width: 41%;
    height: 38px;
    margin-top: 1.5rem;
    margin-left: 7.3rem;
    background-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 760px){
    .exception div {
        width: 22%;
        height: 44px;
        margin-top: 3rem;
        margin-left: 5.3rem;
    }
}

@media screen and (min-width: 1020px){
    .exception div {
        width: 18%;
        margin-left: 7.5rem;
    }
}

.exception a{
    text-decoration: none;
    color: white; 
}


/* CUADRADO DE IMÁGENES */
.cuatro{
    display: flex;
    flex-wrap: wrap;
}

.aventuras{
    padding: 2%;
    width: 45%;
}

@media screen and (min-width: 760px){
    .aventuras{
        padding: 1%;
        width: 31%;
    }
}

@media screen and (min-width: 1020px){
    .aventuras{
        padding: 0;
        padding-left: 1%;
        width: 13%;
    }
}

.oculto{
    display: none;
}

.oculto2{
    display: none;
}

@media screen and (min-width: 760px){
    .oculto{
        display: block;
    }
}

@media screen and (min-width: 1020px){
    .oculto2{
        display: block;
    }
}

.cuatro img{
    width: 100%;
    height: 32vh;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.cuatro h3{
    margin: 0;
    font-weight: bold;
    margin-top: 6px;
}

.cuatro p{
    margin: 0;
}

.btn{
    width: 100%;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    border: 3px solid rgb(224, 147, 137);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 760px){
    .btn{
        border: none;
        display: block;
        margin-left: 0.4rem;
        font-size: 1.2rem;
    }
}

.btn a{
    text-decoration: none;
    color: rgb(224, 147, 137); 
    font-weight: bold;
}

.btn span{
    display: none;
}

@media screen and (min-width: 760px){
    .btn span{
        display: inline-block;
        margin-left: 5px;
    }
}